.container {
  display: grid;
  grid-template-areas: ;
}

#title {
  grid-column: span; /*this should span the entire page, look into using negative numbers in grid-column-end*/;
}

.friend {

}

/* Style other types of family members below*/
